 /* 1. element selector */
 h3{
    color: blue;
}

p{
    color: yellowgreen;
    text-align: justify;
    /* background-color: rgb(255, 0   , 0); 
    background-color: rgb(0  , 255 , 0);
    background-color: rgb(0  , 0   , 255);
    background-color: rgb(255, 255 , 0);
    background-color: rgb(0  , 255 , 255);
    background-color: rgb(255, 0   , 255);
    background-color: rgb(255, 255 , 255); 
    background-color: #ff00ff; ==hex format
    
    for more rgb values ,hex values use color picker in google */
}

button{
    background-color: blueviolet;
}
/* 
body{
    background-color: peru;
}  */

/* 2. universal selector */

*{
    font-family: 'Times New Roman';
}

#headone{
    color: green;
}

#headtwo{         /* accesing using id name*/
    color: magenta;
}

#headthree{
    color: chocolate;
}

.myclass{          /* accesing using class name*/
    color: brown;
}


#box{
    background-color: lawngreen;
}

.heading{
    color: red;
}

 /* h1,h2,h3{
    color: blue;
} */

/* text decoration...underline,overline,linethrough and */
/* font weights */
h3{
    text-decoration: overline;
    font-weight:normal ;
}

h4{
    text-decoration: underline;
    font-weight: bolder;
}

h5{
    text-decoration:line-through;
    font-weight: lighter;
}

/* <!-- to remove underline from a link --> */

a{
    text-decoration: none;
}

/* font family */
#one{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#two{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* units and line-height property */
#para1{

    font-size: 25px;
    line-height: 20px;
    text-transform:uppercase ;
}

#para2{
    
    font-size: 10px;
    line-height: 20px;
    text-transform:lowercase ;
}

#para3{
    
    font-size:15px;
    line-height: 15px;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

outer{
    font-size: 25px;
}

inner{
   font-size: 25px;
}
/* box elements */
#hei{
    height: 50px;
    background-color: blueviolet;
}

#wei{
    width: 50px;
    background-color: blueviolet;
}

#bor{
    border-width: 2px;
    border-style: dotted;
    border-color: black;
    text-align: center;
}
/* border elements */
#div1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    border-radius: 10px;
}
#div2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    border-radius: 50px;  /*circle*/

}
#div3{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    border-radius: 25px;

}
/* padding and margin */
#pad{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding:20px ==> gives 20px in 4 directions top right bottom left */
    /* padding:20px 30px 40px 50px ==> gives diff padding in diff directions */

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
/* block and inline elements
    block elements like div,h tags take more space than required
    inline elements like button , span takes only required space
    lets convert inline to block and vice versa */
#block{
    background-color: pink;
    display: inline;
}

button{
    display: block;
}


